button,
input[type="submit"] {
    background-color: $pink-color;
    border: none;
    padding: 15px 30px;
    color: $black-color;
    transition: all 0.5s;

    &:focus {
        background-color: darken($pink-color, 10%);
        color: $black-color;
        outline: 2px solid $black-color;
    }

    &:hover {
        background-color: darken($pink-color, 10%);
        color: $black-color;
    }
}

.reset-button {
    margin-bottom: 2%;
}

// media queries 

@media (max-width: 480px) {
    .face {
        button {
            font-size: 0.9rem;
            padding: 10px 10px;
        }
    }
}

@media (max-width: 370px) {
    .face {
        button {
            font-size: 0.8rem;
            padding: 5px 5px;
        }
    }
}