svg {
    width: 20%; 
}

.st2 {
fill: #f1a8a6;
}

#face {
    fill: white;
    stroke: #000000;
}

#lip {
    fill: #e17a75;
}

#brow-left,
#brow-right {
    fill: brown;
}

#eye-left,
#eye-right {
    fill: none;
    stroke: #000000;
    stroke-miterlimit: 10;
}

#eyelid-right {
    fill: gold;
}

#eyelid-left {
    fill: gold;
}