.user-choice {
    text-align: center;
    background-color: $pink-color;
    color: $black-color;
    padding: 100px 0;
    fieldset {
        border: none;
    }

    .product-type {
        label:not(:last-of-type) {
            padding-right: 35px;
        }
    }

    .price-sign {
        label:not(:first-of-type) {
            padding-left: 30px;
        }
    }

    .button-container {
        margin-top: 5%;
    }

    .checked {
        border: 2px solid black;
    }

    input[type="submit"] {
        background-color: $black-color;
        color: $pink-color;

        &:focus {
            background-color: darken($pink-color, 10%);
            color: $black-color;
            // outline: 2px solid $black-color;
        }

        &:hover {
            outline: 2px solid $black-color;
        }
    }

    input[type="checkbox"]:checked + label {
        font-weight: 700;
    }

    label {
        position: relative;
    }

    input[type="checkbox"] {
        opacity: 0;

        + label::before,
        + label::after {
            position: absolute;
        }

        + label::before{
            content: '';
            display: inline-block;
            top: -3px;
            left: -30px;
            
            height: 20px;
            width: 20px;
            
            border: 1px solid black;   
        }

        + label::after {
            content: '';
            // display: inline-block;
            height: 20px;
            width: 20px;
            
            left: -30px;
            top: -2px;

            content: none;
        }

        &:checked + label::after {
            content: url(../assets/lips.svg);
        }
    }
}

// media queries 

@media (max-width: 560px) {
    .user-choice {
        .product-type {
            justify-content: center;
            label {
                padding: 0;
            }
            display: flex;
            flex-wrap: wrap;
            // input {
            //     // width: (100% / 4);
            // }
        }
        .price-sign {
            label {
                padding: 0;
            }
        }
    }
}

@media (max-width: 530px) {
    .user-choice {
        .product-type {
            padding: 0;
            justify-content: left;
            label {
                padding: 0;
            }
            input {
                width: (100% / 2);
            }
        }
    
        .price-sign {
            label {
                padding: 0;
            }
        }
    }
}

@media (max-width: 450px) {
    .user-choice {
        h2 {
            font-size: 1.2rem;
        }
    }
}

@media (max-width: 355px) {
    .user-choice {
        h2 {
            font-size: 1.1rem;
        }

        // .product-type {
        //     padding: 0;
        // }
    }
}