.user-choice {
    text-align: center;
    background-color: $pink-color;
    color: $black-color;
    padding: 100px 0;
    fieldset {
        border: none;
    }

    .product-type {
        label:not(:last-of-type) {
            padding-right: 35px;
        }
    }

    .price-sign {
        label:not(:first-of-type) {
            padding-left: 30px;
        }

        input[type="radio"]:focus {
            outline: 2px solid #e75a70;
        }
    }

    .button-container {
        margin-top: 5%;
    }

    .checked {
        border: 2px solid black;
    }

    input[type="submit"] {
        background-color: $black-color;
        color: $pink-color;

        &:focus {
            background-color: darken($pink-color, 10%);
            color: $black-color;
        }

        &:hover {
            outline: 2px solid $black-color;
        }
    }

    input[type="checkbox"]:checked + label {
        font-weight: 700;
    }

    label {
        position: relative;
    }

    input[type="checkbox"]:focus + label::before {
        border: 2px solid #e75a70;
    }

    input[type="checkbox"] {
        opacity: 0;

        + label::before,
        + label::after {
            content: '';
            position: absolute;
        }

        + label::before{
            content: '';
            display: inline-block;
            top: -3px;
            left: -30px;
            
            height: 20px;
            width: 20px;
            
            border: 1px solid black;   
        }

        + label::after {
            content: '';
            display: inline-block;
            height: 20px;
            width: 20px;
            
            left: -30px;
            top: -2px;
        }

        &:checked + label::after {
            content: url(../assets/lips.svg);
        }
    }
}

// media queries 

@media (max-width: 560px) {
    .user-choice {
        .product-type {
            label {
                margin-left: 40%;
                margin-right: 50%;
            }
            display: flex;
            flex-wrap: wrap;
        }

        input[type="checkbox"] {

            + label::before{
                top: 1px;
                right: 150px; 
            }

            + label::after {
                right: 150px;
                top: 1px;
            }
        }
    }
}

@media (max-width: 530px) {
    .user-choice {
        .product-type {
            padding: 0;
        }
    }
}

@media (max-width: 450px) {
    .user-choice {
        h2 {
            font-size: 1.2rem;
        }
    }
}

@media (max-width: 355px) {
    .user-choice {
        h2 {
            font-size: 1.1rem;
        }
    }
}