.palette {
    padding-top: 100px;
    
    .wrapper {
        display: flex;
        justify-content: space-around;
        text-align: center;
    }

    .palette-color {
        display: flex;
        justify-content: center;
    }

    input[type="radio"]:checked + label {
        border: 4px solid black;
    }

    input[type="radio"] {
        display: none;
    }

    .color-circle {
        width: 40px;
        height: 40px;
        display: block;
    }

    button {
        margin-top: 10%;
    }
}