header {
    background-image: url(../assets/background.jpg);
    height: 100vh;
    background-size: cover;
    text-align: center;
    color: $pink-color;
    background-attachment: fixed;

    h1 {
        margin: 0;
        border: 20px solid $pink-color;
        width: 60%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        padding: 70px 30px;
        margin: 0;
        line-height: 1.2;
    }

    span {
        display: block;
        font-size: 2rem;
    }
}