article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 125%; }

img {
  display: block;
  width: 100%; }

.wrapper {
  max-width: 1280px;
  margin: 0 auto; }

body {
  font-size: 1rem;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #3a3a3a; }

h1 {
  font-size: 4.5rem;
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  text-transform: capitalize; }

.face {
  padding-bottom: 100px;
  text-align: center; }
  .face svg {
    width: 20%;
    padding: 100px 0; }
    .face svg .st2 {
      fill: #fff;
      stroke: #000000; }
    .face svg #face .st0 {
      fill: white;
      stroke: #000000; }
    .face svg #lip {
      fill: #fff;
      stroke: #000000; }
    .face svg .st4 {
      fill: #2c3232;
      stroke: #000000; }
    .face svg #nose {
      stroke: #000000; }
    .face svg #eye-left,
    .face svg #eye-right {
      fill: none;
      stroke: #000000;
      stroke-miterlimit: 10; }
    .face svg .st3 {
      fill: #fff;
      stroke: #000000; }

@media (max-width: 950px) {
  .face svg {
    width: 30%;
    padding: 50px 0px; } }

@media (max-width: 950px) {
  .face svg {
    width: 35%; } }

@media (max-width: 470px) {
  .face svg {
    width: 40%;
    padding: 20px 0px; } }

@media (max-width: 400px) {
  .face svg {
    width: 50%; } }

.user-choice {
  text-align: center;
  background-color: #f0e4e4;
  color: #3a3a3a;
  padding: 100px 0; }
  .user-choice fieldset {
    border: none; }
  .user-choice .product-type label:not(:last-of-type) {
    padding-right: 35px; }
  .user-choice .price-sign label:not(:first-of-type) {
    padding-left: 30px; }
  .user-choice .button-container {
    margin-top: 5%; }
  .user-choice .checked {
    border: 2px solid black; }
  .user-choice input[type="submit"] {
    background-color: #3a3a3a;
    color: #f0e4e4; }
    .user-choice input[type="submit"]:focus {
      background-color: #dec3c3;
      color: #3a3a3a; }
    .user-choice input[type="submit"]:hover {
      outline: 2px solid #3a3a3a; }
  .user-choice input[type="checkbox"]:checked + label {
    font-weight: 700; }
  .user-choice label {
    position: relative; }
  .user-choice input[type="checkbox"] {
    opacity: 0; }
    .user-choice input[type="checkbox"] + label::before,
    .user-choice input[type="checkbox"] + label::after {
      position: absolute; }
    .user-choice input[type="checkbox"] + label::before {
      content: '';
      display: inline-block;
      top: -3px;
      left: -30px;
      height: 20px;
      width: 20px;
      border: 1px solid black; }
    .user-choice input[type="checkbox"] + label::after {
      content: '';
      height: 20px;
      width: 20px;
      left: -30px;
      top: -2px;
      content: none; }
    .user-choice input[type="checkbox"]:checked + label::after {
      content: url(../assets/lips.svg); }

@media (max-width: 560px) {
  .user-choice .product-type {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .user-choice .product-type label {
      padding: 0; }
  .user-choice .price-sign label {
    padding: 0; } }

@media (max-width: 530px) {
  .user-choice .product-type {
    padding: 0;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left; }
    .user-choice .product-type label {
      padding: 0; }
    .user-choice .product-type input {
      width: 50%; }
  .user-choice .price-sign label {
    padding: 0; } }

@media (max-width: 450px) {
  .user-choice h2 {
    font-size: 1.2rem; } }

@media (max-width: 355px) {
  .user-choice h2 {
    font-size: 1.1rem; } }

button,
input[type="submit"] {
  background-color: #f0e4e4;
  border: none;
  padding: 15px 30px;
  color: #3a3a3a;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  button:focus,
  input[type="submit"]:focus {
    background-color: #dec3c3;
    color: #3a3a3a;
    outline: 2px solid #3a3a3a; }
  button:hover,
  input[type="submit"]:hover {
    background-color: #dec3c3;
    color: #3a3a3a; }

.reset-button {
  margin-bottom: 2%; }

@media (max-width: 480px) {
  .face button {
    font-size: 0.9rem;
    padding: 10px 10px; } }

@media (max-width: 370px) {
  .face button {
    font-size: 0.8rem;
    padding: 5px 5px; } }

.palette {
  padding-top: 100px; }
  .palette .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    text-align: center; }
  .palette .palette-color {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .palette input[type="radio"]:checked + label {
    border: 4px solid black; }
  .palette input[type="radio"] {
    display: none; }
  .palette .color-circle {
    width: 40px;
    height: 40px;
    display: block; }
  .palette button {
    margin-top: 10%; }

@media (max-width: 1030px) {
  .palette .wrapper section {
    width: 25%; }
  .palette .wrapper h3 {
    font-size: 1rem; }
  .palette .wrapper .palette-color {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .palette .wrapper .color-circle:nth-of-type(5) {
    display: none; }
  .palette .wrapper .color-circle:last-child {
    display: none; }
  .palette .wrapper button {
    font-size: 0.9rem;
    margin-right: 2%;
    margin-left: 2%; } }

@media (max-width: 740px) {
  .palette .wrapper h3 {
    font-size: 0.9rem;
    width: 50%;
    margin: auto;
    text-align: center; }
  .palette .wrapper button {
    padding: 10px 20px; } }

@media (max-width: 650px) {
  .palette .wrapper span {
    display: none; }
  .palette .wrapper button {
    font-size: 0.8rem; } }

@media (max-width: 520px) {
  .palette .wrapper section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .palette .wrapper h3 {
    font-size: 0.8rem;
    margin: 0; } }

@media (max-width: 440px) {
  .palette .wrapper section {
    width: 50%; }
  .palette .wrapper h3 {
    font-size: 0.9rem;
    margin: 0; }
  .palette .wrapper button {
    font-size: 0.9rem;
    padding: 10px 5px; }
  .palette .wrapper .eyeshadow-palette h3,
  .palette .wrapper .lipstick-palette h3 {
    margin-top: 5%; } }

header {
  background-image: url(../assets/background.jpg);
  height: 100vh;
  background-size: cover;
  text-align: center;
  color: #f0e4e4;
  background-attachment: fixed; }
  header h1 {
    margin: 0;
    border: 20px solid #f0e4e4;
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 70px 30px;
    margin: 0;
    line-height: 1.2; }
  header span {
    display: block;
    font-size: 2rem; }

@media (max-width: 620px) {
  header h1 {
    font-size: 3rem;
    font-family: 'Dancing Script', cursive;
    font-weight: 700; }
  header span {
    font-size: 1.5rem; } }

@media (max-width: 500px) {
  header h1 {
    font-size: 2.5rem;
    font-family: 'Dancing Script', cursive;
    font-weight: 700; }
  header span {
    font-size: 1.2rem; } }

@media (max-width: 400px) {
  header h1 {
    font-size: 2rem;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    border: 10px solid #f0e4e4; }
  header span {
    font-size: 1rem; } }

@media (max-width: 350px) {
  header h1 {
    font-size: 1.5rem;
    font-family: 'Dancing Script', cursive;
    font-weight: 700; }
  header span {
    font-size: 1rem; } }

.result {
  background-color: #3a3a3a;
  color: #f0e4e4;
  padding: 50px 0; }
  .result .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .result .wrapper h1 {
      font-size: 2rem;
      margin-bottom: 0; }
    .result .wrapper section {
      width: calc(100% / 4); }
  .result img {
    width: 150px;
    height: 150px;
    -o-object-fit: contain;
    object-fit: contain;
    margin: auto; }
  .result .brand-name {
    text-transform: capitalize;
    font-size: 1.2rem; }
  .result .product-name {
    font-size: 0.8rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 20px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #f0e4e4; }
    .result .product-name:visited, .result .product-name:focus, .result .product-name:hover {
      color: #e75a70; }

@media (max-width: 960px) {
  .result button {
    margin: 0 2%;
    padding: 10px 10px; } }

@media (max-width: 800px) {
  .result .product-name {
    font-size: 0.7rem;
    height: 50px;
    line-height: 1; }
  .result .brand-name {
    font-size: 1rem;
    height: 50px; } }

@media (max-width: 700px) {
  .result button {
    font-size: 0.9rem; }
  .result .wrapper h1 {
    font-size: 1.5rem;
    line-height: 1; }
  .result img {
    width: 100px;
    height: 100px; }
  .result .product-price {
    font-size: 0.9rem; } }

@media (max-width: 505px) {
  .result button {
    font-size: 0.8rem;
    padding: 5px 5px; }
  .result .wrapper h1 {
    font-size: 1rem; }
  .result img {
    width: 80px;
    height: 80px; } }

@media (max-width: 480px) {
  .result .wrapper section {
    width: calc(100% / 2); }
  .result .brand-name {
    font-size: 0.8rem;
    height: 20px; }
  .result .product-name {
    font-size: 0.7rem;
    line-height: 1.6; } }
